---
title: Uutiset
permalink: /uutiset/
---


<p>
    Tiedotan ajankohtaisista asioista uutisten muodossa. Mikäli haluat saada
    uutiset itsellesi tuoreeltaan, voit tilata ne helposti sähköpostiisi.
    Kirjoita sähköpostiosoitteesi allaolevaan kenttään ja paina "Tilaa". Saat
    englanninkielisessä vahvistusviestissä varmistuslinkin, jonka avaamalla
    vahvistat tilauksen. Sähköpostien tilaus on toteutettu Blogtrottr-palvelun
    avulla.
</p>

{% include subscribe.html %}


<ul>
{% for post in site.posts %}
<li><article class="hentry">
    <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {% include translated_date.html date=post.date %} &#8212; {{ post.title }}
        </a>
    </h3>

    <small><i></i></small>

    {{ post.excerpt }}
    </article>

</li>
{% endfor %}
</ul>
