---
title: Uutiset
permalink: /uutiset/
---


<p>
    Tiedotan ajankohtaisista asioista uutisten muodossa. Mikäli haluat saada
    uutiset itsellesi helposti tuoreeltaan, voit tilata ne sähköpostiisi tai
    seurata <a href="{{ site.baseurl }}{% link feed.xml %}">RSS-syötettäni</a> siihen
    soveltuvalla ohjelmalla. Sähköpostien tilaus on toteutettu
    Blogtrottr-palvelun avulla. Tilattuasi uutiset sähköpostiisi saat
    englanninkielisen vahvistusviestin, jonka tarjoaman varmistuslinkin
    avaamalla vahvistat tilauksesi.
</p>

{% include subscribe.html %}


<ul>
{% for post in site.posts %}
<li><article class="hentry">
    <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {% include translated_date.html date=post.date %} &#8212; {{ post.title }}
        </a>
    </h3>

    <small><i></i></small>

    {{ post.excerpt }}
    </article>

</li>
{% endfor %}
</ul>
