<h2>Tuoreimmat uutiset</h2>

{% for post in site.posts limit:3 %}
<p>
    <a
        class="post-link"
        href="{{ post.url | prepend: site.baseurl }}"
    >
        {{ post.title }}

    </a>

    <br />

    <small><i>{% include translated_date.html date=post.date %}</i></small>

    {{ post.excerpt }}

</p>
<br />
{% endfor %}

<form method="post" target="popupwindow" action="https://blogtrottr.com/"
>
    <p>
        Voit tilata uutiset sähköpostiisi:
    </p>
    <p>
        <input name="btr_email" placeholder="Sähköpostiosoite" value="" type="text" class="email-field">
        <input name="btr_url" value="{{ site.url }}{{ site.baseurl }}{% link feed.xml %}" type="hidden">
        <input name="schedule_type" value="0" type="hidden">
        <input value="Tilaa" name="subscribe" type="submit" class="btn btn-primary">
    </p>
</form>
<p class="rss-subscribe">
    Saatavilla myös
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS-syötteenä</a>.
    <i class="fa fa-rss" aria-hidden="true"></i>
</p>
<p>
    Tykkää <a href="https://www.facebook.com/MaijaLeena">Facebook-sivustani</a>.
</p>
