<h2>Tuoreimmat uutiset</h2>

{% for post in site.posts limit:3 %}
<p>
    <a
        class="post-link"
        href="{{ post.url | prepend: site.baseurl }}"
    >
        {{ post.title }}

    </a>

    <br />

    <small><i>{% include translated_date.html date=post.date %}</i></small>

    {{ post.excerpt }}

</p>
<br />
{% endfor %}

<p>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    Voit tilata uutiset sähköpostiisi:
</p>
{% include subscribe.html %}
<p class="rss-subscribe">
    {% include icon-rss.html %}
    Saatavilla myös
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        RSS-syötteenä.
    </a>
</p>
<p>
    {% include icon-facebook.html %}
    Tykkää
    <a href="https://www.facebook.com/MaijaLeena">
        Facebook-sivustani.
    </a>
</p>
